@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

/*----------------------------- weatherapp card------------------------ */
.card-body{
    font-size: 3rem;
}
..card-body input{
    font-size: 3rem !important;
}
.cen{
  width: auto!important;
  height: 100vh!important;
}
.inpo{
  outline: none!important;
  border: none;
  text-align: center;
  border: 2px solid#015871;
  box-shadow: 0.7px  0.7px 1px 1px #72d6f1;
}
.round{
  background-color: rgba(82, 150, 196, 0.308)!important;
  border-radius: 15px!important;
  overflow: hidden;
  box-shadow:6px 6px 10px grey;
}
input::placeholder{
  text-align: center;
  
}
.clr{
  color: orange;
}
.textshadow{
  text-shadow: 2px 2px 4px grey!important;
}
.textshadow1{
  text-shadow: 2px 2px 4px rgb(179, 201, 201)!important;
}


/* 
// best seen at 1500px or less */



.ocean { 
  height: 2%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index: -1;
  background: #04626e;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  z-index: -1;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  z-index: -1;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}